#background {
    position: fixed;
    top: 0;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: black;
    z-index: -1;
    background: linear-gradient(180deg, #ffffff 50%, #ced7e6 100%);
}

#body-content {
    margin-top: 40px;
    gap: 60px;
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        line-height: 1.1;
    }
    
    h2 {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.1;
    }

    p {
        font-size: 20px;
        line-height: 1.4;
        text-align: left;
    }

    #title {
        width: 100%;
        max-width: 1300px;
        justify-content: space-between;
        align-items: center;
        // gap: 60px;

        .text {
            width: 40%;
            gap: 20px;
            margin-top: -30px;
        }

        img {
            width: 45%;
            height: auto;
        }
    };

    #about {
        justify-content: space-between;

        .text {
            width: 55%;
            gap: 20px;
        }

        img {
            // max-width: 375px;
            width: 30%;
            height: auto;
        }
    };

    #portfolio {
        gap: 24px;
        
        #portfolio-list {
            flex-wrap: wrap;
            gap: 30px;
            
            .item {
                width: 100%;
                gap: 10px;

                .proj-title {
                    font-weight: bold;
                    font-size: 18px;
                };

                img {
                    height: 125px;
                    width: 170px;
                    margin-top: 2px;
                    border-radius: 4px;
                    border: solid 1px rgb(195, 206, 211);
                    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                    object-fit: cover;
                }

                .proj-content {
                    gap: 16px;
                    
                    .proj-text {
                        gap: 6px;

                        .proj-desc {
                            font-size: 15px;
                            text-align: left;
                        };
                        
                        .proj-stack {
                            gap: 7px;
                            flex-wrap: wrap;
                        }
                    }
                };
            };
        };
    };
    
    #contact {
        gap: 20px;
        min-height: 500px;
        
        form {
            gap: 15px; 
            margin-bottom: 20px;

            .form-sect {
                background: rgba(255, 255, 255, 0.75);
                border: solid 1px rgb(181, 195, 201);
                border-radius: 8px;
                padding: 10px;
            }
        }

        #socials {
            // gap: 80px;
            // justify-content: center;

            gap: 20px;
            margin-bottom: 40px;
            
            .item {
                align-items: center;
                gap: 15px;

                img {
                    width: 35px;
                    height: auto;
                }
            }
        }

    };
};

@media (max-width: 860px) {
    #body-content {

        h1 { font-size: 40px; }

        h2 { font-size: 28px; }

        p { font-size: 18px; }

        #title {
            flex-direction: column-reverse;
            align-items: center;
            gap: 30px;

            img {
                width: 60%;
            }

            .text {
                width: 100%;
                text-align: center;
            }
        };

        #about {
            flex-direction: column-reverse;
            align-items: center;
            gap: 30px;

            .text {
                width: 100%;
                text-align: center;
            }
        };

        #portfolio {
            align-items: center;
            gap: 30px;
        
            #portfolio-list {
                
                .item {
                    align-items: center;

                    .proj-content {
                        flex-direction: column;
                        align-items: center;

                        img {
                            height: auto;
                            width: 225px;
                        }
                    };
                };
            };
        };

        #contact {
            align-items: center;
            min-height: 300px;
        };
    };
};

@media (max-width: 600px) {
    #body-content {

        h1 { font-size: 32px; }

        h2 { font-size: 24px; }

        p { 
            font-size: 16px;
            text-align: center;
         }
    };
};